body{
  background-image: url("images/pattern-background-desktop.svg");
}
.container{
  position: relative;
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
  width: 260px;
  height: 335px;
  margin-left: 20px;
}
.card{
  width: 300px;
  height: 500px ;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  background: white;
  
}
.card .illustrition{
  width: 100%;
}
.card h1{
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  font-size: 20px;
}
.card .container .description{
  color: hsl(225, 100%, 94%);
  font-weight: 500;
  font-size: 16px;
}
.card .container .plan{
  background: hsl(225, 100%, 98%);
  border-radius:10px ;
  position: relative;
  top: 10px;
  padding: 35px;
}
.card .container div p:first-of-type{
  font-weight: 700;
  color: hsl(223, 47%, 23%);
  position: absolute;
  top: 10px;
  left: 70px;
  margin: 0;
}
.card .container div p:last-of-type{
  font-weight: 500;
  color: hsl(225, 100%, 94%);
  position: absolute;
  top: 20px;
  left: 70px;
}
.card .container .icon-music {
  position: absolute;
  top: 12px;
  left: 15px;
}
.container a {
  position: absolute;
  top: 25px;
  right: 10px;
}
.container .payement{
  position: relative;
  top: 40px;
  background-color: hsl(224, 23%, 55%);
  border-radius: 20px;
  color: white;
  padding: 6px;
  cursor: pointer;
}
.container .cancel{
  position: relative;
  top: 50px;
  padding: 6px;
  border-radius: 20px;
  cursor: pointer;
}